doctype html
html
    head
        title Index page
    body
        h1 Hello jade..
        h2 Lorem ipsum
        hr
        a(href="http://naver.com", data-test="multiple Attribute") Go To Naver!!

        //JADE String
        #header
            h1 Hello gg
            h2 Lorem ipsum
        hr
        .article
            a(href="http://naver.com") Go To Naver